.mistake-bubble {
  width: 1rem; // 16px in rems (1rem = 16px)
  height: 1rem; // 16px in rems (1rem = 16px)
  border-radius: 50%; // Circle shape
  background-color: $unselected-button;
  display: block;
  margin: 0.1rem 0.25rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

  &.shrink {
    transform: scale(1.5);
    opacity: 0;
  }
}
