.navbar {
  .navbar-upper {
    border-bottom: 1px solid $black;
    width: 100%;

    .container {
      padding: 0.5rem 0;

      .connections-logo {
        font-size: 2.5rem; // 42px in rems (assuming 1rem = 16px)
        font-family: $font-title;
        color: $black;
        font-weight: 800; // Extrabold
        margin-right: 1rem;
      }

      .version-logo {
        font-family: $font-primary;
        font-size: 1.25rem;
        color: $black;
      }
    }
  }

  .navbar-lower {
    border-bottom: 1px solid $black;
    width: 100%;

    .container {
      display: flex;
      justify-content: flex-end;

      .nav-buttons {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        
        button {
          border: none;
          background-color: transparent;
          padding: 1rem 1rem;

          &:hover {
            background-color: $unselected-card;
          }
        }
      }
    }
  }
}
