.game-instructions {
  font-size: 1.125rem;
  color: $black;
  margin: 0.8rem 0;
}

.game-mistake-tracker {
  margin: 0.8rem 0;
}

.mistake-tracker-label {
  font-size: 1rem;
  color: $black;
}

.mistake-tracker-bubble {
  width: 1rem; // 16px in rems (1rem = 16px)
  height: 1rem; // 16px in rems (1rem = 16px)
  border-radius: 50%; // Circle shape
  background-color: $unselected-button;
  display: block;
  margin: 0.1rem 0.25rem;
}

.word-card {
  width: 9.375rem; // 150px in rems (1rem = 16px)
  height: 5rem; // 80px in rems (1rem = 16px)
  border-radius: 0.25rem; // Curved border
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25rem; // 8px in rems (1rem = 16px)
  font-size: 1.25rem; // 20px in rems (1rem = 16px)
  font-weight: 700; // Semi-bold
  text-transform: uppercase; // Text in caps
  background-color: $unselected-card;
  cursor: pointer; // Change cursor to be clickable like a button
  user-select: none; // Make text non-selectable
  transition: background-color 0.25s, color 0.25s; // Add transition for background-color and color
}

.word-card.word-card-selected {
  background-color: $selected-card;
  color: $white;
}

.button-bar {
  button {
    border: 1.5px solid $black;
    background-color: $white;
    border-radius: 2rem; // Curved border
    color: $black;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.4rem 0.6rem;
  }

  button.button-unprimed {
    border-color: $unselected-button;
    color: $unselected-button;
    cursor: default;
  }
}

.game-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(
    4,
    1fr
  ); /* Adjust the gap between grid items as needed */
}