@import "variables";
@import "../src/components/ConnectionsGame/ConnectionsGame";
@import "../src/components/ConnectionsGame/GameGrid/GameGrid";
@import "../src/components/ConnectionsGame/GameGrid/WordCard/WordCard";
@import "../src/components/ConnectionsGame/MistakeTracker/MistakeTracker";
@import "../src/components/ConnectionsGame/MistakeTracker/MistakeBubble/MistakeBubble";
@import "../src/components/ConnectionsGame/ControlButtonBar/ControlButtonBar";
@import "../src/components/ConnectionsGame/SolvedConnection/SolvedConnection";
@import "../src/components/Navbar/Navbar";
@import "../src/components/Auth/Auth";
@import "../src/components/LandingPage/LandingPage";

.app {
  font-family: $font-primary;
}

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  font-size: 1.2rem;
  color: #666;
}
